<!DOCTYPE HTML>
<html>
	<head>
		<title>Onebytecode</title>
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1>OneByteCode !THIS IS DEV!</h1>
						<p>Нас всего двое<br>И мы ищем недостающие биты!</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Кто мы?</a></li>
							<li><a href="#first">Кого мы ищем?</a></li>
							<li><a href="#second">Наши проекты</a></li>
							<li><a href="#cta">Бит в Байте</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Кто мы?</h2>
										</header>
										<p>Разработчик и разработчик.
											 Один любит делать сайты, другой приложения на смартфоны.
											 Вместе мы сила!</p>
									</div>
									<span class="image"><img src="images/img01.svg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Кого мы ищем?</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-code"><img src="/images/img02.svg" alt=""></span>
										<h3>Веб разработчик</h3>
										<p>Мы разрабатываем приложения<br>на node.js и RoR</p>
									</li>
									<li>
										<span class="icon major style3 fa-copy"><img src="/images/img03.svg" alt=""></span>
										<h3>Мобильный разработчик</h3>
										<p>iOs и Android. <br>Только натив. Только хардкор!</p>
									</li>
									<li>
										<span class="icon major style5 fa-diamond"><img src="/images/img04.svg" alt=""></span>
										<h3>UI & UX Дизайнер</h3>
										<p>Эту страницу мы дизайнили сами. Как видишь с дизайном у нас не очень.</p>
									</li>
								</ul>
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Наши проекты	</h2>
									<h3>Нам всего месяц, но работы уже на год вперед.</h3>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-code-fork"></span>
										<img src="/images/projects_music.svg" alt=""> <br>Проект для любителей музыки
									</li>
									<li class="style2">
										<span class="icon fa-folder-open-o"></span>
										<img src="/images/projects_radio.svg" alt=""> <br>Проект для радиоэфира
									</li>
									<li class="style3">
										<span class="icon fa-signal"></span>
										<img src="/images/projects_education.svg" alt=""><br>Новый проект для самообучения
									</li>
									<li class="style4">
										<span class="icon fa-laptop"></span>
										<img src="/images/projects_fitness.svg" alt=""><br>Переосмысливаем фитнесс приложение
									</li>
									<li class="style5">
										<span class="icon fa-diamond"></span>
										<img src="/images/projects_transport.svg" alt=""><br>Сервис для автомобилистов
									</li>
								</ul>
								<p class="content">Каждый сервис это решение той или иной жизненной проблемы. Мы верим, каждый проект должен решать боль пользователя максимально удобным способом.
Тогда пользователь искренне любит и часто пользуется сервисом.</p>
								<footer class="major">
								</footer>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Хочешь попробовать?</h2>
									<p>Если ты школьник, студент или просто недавно начал свой путь
										 в разработке, у тебя есть все шансы поработать в настоящих
										 серьезных проектах и прокачать свои навыки на деле. Стоит лишь поговорить
										 с нашим Telegram ботом!</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href="https://telegram.me/onebytebot" style="border-bottom: none"><img src="/images/telegram_icon.svg" alt=""></a></li>
									</ul>
								</footer>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">

					</footer>
			</div>
	</body>
</html>
